/ConsoleAppSampleCosmoDB/.vs/
/ConsoleAppSampleCosmoDB/ConsoleAppSampleCosmoDB/bin/
/ConsoleAppSampleCosmoDB/ConsoleAppSampleCosmoDB/obj/
/FunctionIoTHub/.vs/
/FunctionIoTHub/FunctionServiceBusTests/obj/
/FunctionIoTHub/FunctionServiceBusTests/bin/
/IoTClient/.vs/
/IoTClient/ConsoleApp1/bin/
/serviceBusConsole/.vs/
/IoTClient/ConsoleApp1/obj/
/serviceBusConsole/serviceBusConsole/bin/
/serviceBusConsole/serviceBusConsole/obj/
/serviceBusConsole/QueueReceiver/bin/
/serviceBusConsole/QueueReceiver/obj/
/IoTLibrary/IoTLibrary/obj/Debug/net7.0
/IoTLibrary/IoTLibrary/obj
/IoTLibrary/IoTLibrary/bin/Debug/net7.0
/IoTLibrary/.vs
/IoTLibrary/.vs/
/IoTLibrary/IoTLibrary/bin/Release/net7.0
/FunctionIoTHub/Services/bin/Debug/net7.0
/FunctionIoTHub/Services/bin/Release/net7.0
/FunctionIoTHub/Services/obj/Debug/net7.0
/FunctionIoTHub/Services/obj
/IoTWeb/IoTWeb/obj/Debug/net7.0
/IoTWeb/.vs/
/IoTWeb/IoTWeb/bin/Debug/net7.0
/IoTWeb/IoTWeb/obj
