@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script type="text/javascript">

    // Load the Visualization API and the corechart package.
    google.charts.load('current', { 'packages': ['corechart'] });

    // Set a callback to run when the Google Visualization API is loaded.
    //google.charts.setOnLoadCallback(drawChartExample);
    //google.charts.setOnLoadCallback(drawChartIoTData);

    getJsonDataIoT();
    // Callback that creates and populates a data table,
    // instantiates the pie chart, passes in the data and
    // draws it.
    function drawChartExample() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
            ['Mushrooms', 3],
            ['Onions', 1],
            ['Olives', 1],
            ['Zucchini', 1],
            ['Pepperoni', 2]
        ]);

        // Set chart options
        var options = {
            'title': 'How Much Pizza I Ate Last Night',
            'width': 400,
            'height': 300
        };

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);


        getJsonDataIoT();

    }

        function drawChartIoTData() {

            var dataForGoogleTopeni = [];
            dataForGoogleTopeni.push(['Year', 'Sales', 'Expenses']);

        dataForGoogleTopeni.push(['2004', null, 400]);
        dataForGoogleTopeni.push(['2005', 890, null]);
        dataForGoogleTopeni.push(['2006', null, 1120]);
        dataForGoogleTopeni.push(['2007', 1170, null]);
        dataForGoogleTopeni.push(['2004', null, 540]);
        dataForGoogleTopeni.push(['2005', 1170, null]);
        dataForGoogleTopeni.push(['2006', null, 5620]);
        dataForGoogleTopeni.push(['2007', 1030, null]);

            var options = {
            title: 'Company Performance',
            curveType: 'function',
            legend: { position: 'bottom' }
            };

            var data = google.visualization.arrayToDataTable(dataForGoogleTopeni);

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

            chart.draw(data, options)
    }


    function getJsonDataIoT() {
        //var url="http://localhost:7116/api/GetIoTData?devidId=pokus";
        var url = "https://getiotdatavik.azurewebsites.net/api/GetIoTData?code=Cyq5XKSIRkOkt-Ih6ZABBPHMvGq26Qg9DNe7ZcD8MAQTAzFuUF3uXQ==";
        $.ajax({
            dataType: "json",
            url: url,
            //data: data,
            //success: success
        }).done(function (data) {
            console.log(data);
            //prepare data:
            var dataForGoogle = [];
            dataForGoogle.push(['MessageDate', 'TopeniObejvak', 'esp32Temperature']);

            //var dataForGoogleESP= [];
            //dataForGoogleESP.push(['MessageDate', 'Temperature']);


            //Example data:
            //{
            //    "id": "76f63324-3efa-497f-928e-369a0a08b0ca",
            //     "DeviceId": "TopeniObejvak",
            //     "MessageData": {
            //     "IdMessage": "76f63324-3efa-497f-928e-369a0a08b0ca",
            //     "DataSet": [
            //                {
            //                    "Name": "temperature",
            //                    "Value": "224"
            //                }
            //            ]
            //    },
            //    "MessageDate": "2023-02-12T19:49:47.6029829+01:00"
            //}


            //var objectWithGroupByName = {};
            //for (var key in data[0]) 
            //{
            //    var name = data[0][key].DeviceId;
            //    if (!objectWithGroupByName[name]) {
            //        objectWithGroupByName[name] = [];
            //    }
            //    objectWithGroupByName[name].push(data[0][key]);
            //}

            //'TopeniObejvak', 'esp32Temperature'
            Object.entries(data[0]).forEach(entry => {
                //if (entry[1]["DeviceId"] == 'TopeniObejvak') {
                //    var _obj = entry[1]["MessageData"]["DataSet"][0];
                //    var _temperature = _obj["Name"];
                //    var _value = parseInt(_obj["Value"]);
                //    var _dateMessage = new Date(entry[1]["MessageDate"]);
                //    //var _deviceId = entry[1]["DeviceId"]
                //    dataForGoogle.push([_dateMessage, _value, null]);
                //}
                if (entry[1]["DeviceId"] == 'TopeniObejvak') {
                    var _obj = entry[1]["MessageData"]["DataSet"];

                    Object.entries(_obj).forEach(entryDetailed => {
                        if (entryDetailed[1]["Name"] == "temperature") {
                            var _temperature = entryDetailed[1]["Name"];
                            var _value = parseInt(entryDetailed[1]["Value"]);
                            var _dateMessage = new Date(entry[1]["MessageDate"]);
                            //var _deviceId = entry[1]["DeviceId"]
                            if (_value != null) {
                                dataForGoogle.push([_dateMessage,_value, null ]);
                            }
                        }
                    })
                }
                if (entry[1]["DeviceId"] == 'esp32Temperature') {
                    var _obj = entry[1]["MessageData"]["DataSet"];

                    Object.entries(_obj).forEach(entryDetailed => {
                        if (entryDetailed[1]["Name"] == "temperature") {
                            var _temperature = entryDetailed[1]["Name"];
                            var _value = parseInt(entryDetailed[1]["Value"]);
                            var _dateMessage = new Date(entry[1]["MessageDate"]);
                            //var _deviceId = entry[1]["DeviceId"]
                            if (_value!=null) {
                                dataForGoogle.push([_dateMessage, null, _value]);
                            } 
                            
                        }
                    })
                }
            });

            var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

            var options = {
                title: 'Temperature Topeni Obyvak',
                curveType: 'function',
                legend: { position: 'bottom' }
            };

            var dataFormated = google.visualization.arrayToDataTable(dataForGoogle);
            chart.draw(dataFormated, options);


            //chart.draw(dataFormatedESP, options);

        });;
    }

</script>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   
        <div id="chart_div"></div>
    <div id="curve_chart" style="width: 900px; height: 500px"></div>
</div>
