<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://functionvikheater.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/a97a6d8c-9e58-4da5-82f4-8cfa07048293/resourceGroups/ResGroupVik/providers/Microsoft.Web/sites/FunctionVikHeater</ResourceId>
    <UserName>$FunctionVikHeater</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://functionvikheater.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>